.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  display: grid;
  grid-template-columns: 100px 1fr;
  background-color: #f7f7f7;
  padding: 20px;
  color: #34495e;
  margin-bottom: 2em;
  width: 100%;
}

.App-header>img {
  padding-left: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}