.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.App-header {
  display: grid;
  grid-template-columns: 100px 0.92fr;
  background-color: #f7f7f7;
  padding: 10px;
  color: #676E7B;
  width: 100%;
}

.App-header>img {
  padding-left: 10px;
}

.App-title {
  font-size: 2em;
  font-style: italic;
  text-transform: uppercase;
  color: #676E7B;
}

a {
  text-decoration: none;
}

nav {
  background-color: #676E7B;
  padding: 0.5em;
  width: 100%;
  margin-bottom: 2em;
}

nav a {
  color: white;
  margin: 0 1em;
  padding: 0.5em;
}