html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

#root {
  height: 100%;
}

.interview-form {
  max-width: 600px;
  text-align: left;
}

.interview-detail {
  max-width: 600px;
  text-align: left;
}

.interview-index {
  max-width: 700px;
}

.one-line {
  display: flex;
  justify-content: space-around;
}

.one-line p,
.no-margin {
  margin: 0;
}

h1,
h2,
h3 {
  text-align: center;
  margin-top: 2em;
}

.option-buttons {
  text-align: center;
}

.one-line {
  display: flex;
  justify-content: space-between;
}

.list-field {
  margin-bottom: 1em;
}

.secondary-text {
  color: #777;
}

.secondary-text::after {
  content: " | ";
}
