body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.interview-form {
  max-width: 600px;
  text-align: left;
}

.option-buttons {
  text-align: center;
}

.one-line {
  display: flex;
  justify-content: space-between;
}

.list-field {
  margin-bottom: 1em;
}
